.textarea {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.textarea__label {
  font-size: 12px;
  color: #9ca3af;
}

.textarea__control {
  width: 100%;
  min-height: 110px;
  box-shadow: 0 4px 12px rgba($color-text-second, 0.2);
  padding: 12px;

  border-radius: 16px;
  border: 2px solid transparent;

  background: $color-white;

  font-size: 16px;
  font-family: inherit;

  resize: none;
  outline: none;

  transition: 0.2s;
}

.textarea__control:focus {
  border-color: #6a5cff;
}

/* лічильник символів */

.textarea__counter {
  align-self: flex-end;

  font-size: 12px;
  color: #9ca3af;
}
