.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 16px 12px;

  width: auto;
  height: 40px;
  border: none;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.2s ease;

  box-shadow: 0 2px 12px rgba(#000000, 0.06);

  &__icon {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
    svg {
      stroke-width: 1.6;
      color: $color-text-main;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: $line-height-button;
    color: $color-text-main;
    &--danger {
      color: $color-active;
    }
  }

  &:active {
    transform: scale(0.97);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--danger {
    background: transparent;
    svg {
      color: $color-active;
    }
    box-shadow: none;
  }
  &--primary {
    background: linear-gradient(135deg, #6a5cff, #ff6fa9);
    color: $white-button;
  }
  &--ghost {
    box-shadow: none;
  }
}

.button--secondary {
  background: $white-button;
}
