$color-text-main: #1f2330;
$color-text-second: #8b90a0;
$color-white: #fafbff;
$color-active: #ff6b9c;
$color-active-second: #7c5cff;

$white-button: #fff;

$line-height-header: 18px;
$line-height-button: 14px;

$radial-gradient-circle-x: -10%;
$radial-gradient-circle-y: -50%;
