.event-form {
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 24px;
}
.text-info {
  display: flex;
  font-size: 10px;
  width: 100%;
  color: $color-text-second;
  justify-content: flex-end;
  margin-top: 6px;
}
.form-actions__delete {
  position: fixed;
  bottom: 140px;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

.form-actions {
  gap: 48px;
}
