.event-card {
  padding: 20px;
  border-radius: 20px;

  line-height: $line-height-header;
  border: solid $white-button 1px;

  box-shadow: 0 6px 24px rgba($color-text-main, 0.12);

  cursor: pointer;

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }

  &__date {
    margin-top: 6px;
    color: $color-text-second;
  }
}

.form-actions {
  margin-top: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
