@import "../styles/animation.scss";
.home {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: calc(140px + env(safe-area-inset-bottom));
}
.empty-state {
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 16px;
  &__button {
    display: inline-flex;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    gap: 24px;
    padding: 18px 16px;

    margin-top: 18px;
    width: fit-content;

    border: none;
    border-radius: 10px;

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.2s ease;
    background: linear-gradient(
      270deg,
      #ff6b9c,
      #f065b3,
      #c05cff,
      #7c5cff,
      #ff6b9c
    );
    background-size: 400% 400%;
    box-shadow:
      0 4px 12px rgba($color-active, 0.2),
      0 6px 20px rgba($color-active-second, 0.2),
      inset 0 3px 8px rgba($color-white, 0.25);
    color: $white-button;
    animation: gradientFlow 18s ease-in infinite;
    svg {
      color: $color-white;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 700;
    color: $color-text-main;
    text-align: center;
    margin-top: 40px;
    line-height: 1.2;
  }

  &__emoji {
    font-size: 36px;
    display: block;
    padding-left: 24px;
    margin-bottom: 8px;
  }
  &__subtitle {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    color: $color-text-main;
    text-align: center;
    line-height: 1.2;
  }
}
